<details>
    <summary><span stonejs>Some details can't hurt!</span></summary>
    <table id="version-info">
        <caption>
            <b stonejs>Disclaimers</b>
        </caption>
        <tbody>
            <tr>
                <th scope="row"><img class="to-dark-img" alt="safe-browsing" src="images/safe-browsing.png" /></th>
                <td class="disclaimers"><small stonejs>This website does not collect "any" data whatsoever. Try going
                        offline and it works. If you are tech savvy, check your browser's developer console.</small>
                </td>
            </tr>
            <tr>
                <th scope="row"><img class="to-dark-img" alt="one-free" src="images/one-free.png" /></th>
                <td class="disclaimers"><small stonejs>It is completely free too. It does not show advertisements and
                        will
                        not do so in the future. You can still help me stay motivated by donating via Paypal.</small>
                </td>
            </tr>
            <tr>
                <th scope="row"><img class="to-dark-img" alt="private" src="images/private2.png" /></th>
                <td class="disclaimers"><small stonejs>You can encrypt your card with a key that you would share only
                        with
                        your confidants!</small></td>
            </tr>
            <tr>
                <th scope="row"><img class="to-dark-img" alt="running" src="images/girl-running.png" /></th>
                <td class="disclaimers"><small stonejs>We take no responsibility for usernames or links that you claim
                        are
                        yours and we don't do any verification.</small></td>
            </tr>
        </tbody>
    </table>
</details>