<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://*.visitor-analytics.io wss://tracker.openwebtorrent.com wss://tracker.btorrent.xyz https://worldtimeapi.org https://api.session-replays.io;
script-src 'self' 'unsafe-inline' https://unpkg.com https://ajax.googleapis.com https://*.visitor-analytics.io;
object-src 'self';
style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;
img-src 'self' data: https://img.icons8.com https://cdnjs.cloudflare.com;" />

<meta name="theme-color" content="#FFE1C4">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<meta charset="utf-8" />
<meta name="description" content="The first serverless link aggregator. Without a server, there are no privacy concerns, spams, bots, ads nor fake followers. Mylinks.space is 100% free as well" />
<meta name="keywords" content="social, network, links, contacts, snapchat, whatsapp, twitter, facebook, qr code, privacy" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
