<div dir="auto" class="share-btn" data-url="https://mylinks.space" data-title="Make your social card now!"
    data-desc="Add your Facebook, Instagram, Twitter, Snapchat, ... All in one card.">
    <a href="#" class="btn-vk" data-sharer="twitter" data-title="Checkout mylinks.space!" data-hashtags="mylinks,"
        data-id="vk" data-url="https://mylinks.space/">
        <i class="fa-brands fa-vk"></i>
        VK
    </a>
    <a href="#" class="btn-facebook" data-sharer="facebook" data-title="Checkout mylinks.space!"
        data-hashtags="mylinks, " data-id="fb" data-url="https://mylinks.space/">
        <i class="fa-brands fa-facebook"></i>
        Facebook
    </a>
    <a href="#" class="btn-twitter" data-sharer="twitter" data-title="Checkout mylinks.space!" data-hashtags="mylinks, "
        data-id="tw" data-url="https://mylinks.space/">
        <i class="fa-brands fa-twitter"></i>
        Twitter
    </a>
    <a href="#" class="btn-telegram" data-sharer="telegram" data-title="Checkout mylinks.space!"
        data-hashtags="mylinks, " data-id="tg" data-url="https://mylinks.space/">
        <i class="fa-brands fa-telegram"></i>
        Telegram
    </a>
    <a href="#" class="btn-skype" data-sharer="skype" data-title="Checkout mylinks.space!" data-hashtags="mylinks, "
        data-id="sk" data-url="https://mylinks.space/">
        <i class="fa-brands fa-skype"></i>
        Skype
    </a>
    <a href="#" class="btn-whatsapp" data-sharer="whatsapp" data-title="Checkout mylinks.space!"
        data-hashtags="mylinks, " data-id="wa" data-url="https://mylinks.space/">
        <i class="fa-brands fa-whatsapp"></i>
        WhatsApp
    </a>
    <a href="#" class="btn-mail" data-sharer="mail" data-title="Checkout mylinks.space!" data-hashtags="mylinks, "
        data-id="mail" data-url="https://mylinks.space/">
        <i class="fa fa-envelope"></i>
        EMail
    </a>
</div>